$panel-izq: 23%;
$header-height: 72px;

$dark-blue: #192647;
$blue: #237ABA;
$background-panel-izq: #F4F4F4;
$success: #48AE64;
$info: #EEF9FA;

$primary-button: #02A5A5;
$icon-button: #578DC3;
$disabled-button: #E8E8E8;

$fonts: (
    disabled-button: #C8C8C8,
    info: $blue,
    deemphasised: #787878,
    default: #1D1D1D,
    non-selected-product: #1F3562,
);
